* {
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #585858;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
}


.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.row {
    display: flex;
}

.btn {
    border: 2px solid #ff2d2d;
    border-radius: 5px;
    padding: 13px 53px;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

/* Header */

header {
    padding: 30px 0 0 0;
    background-color: #f6f2f2;
}

header nav {
    background-color: #313030;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header a {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 25px 30px;
}

header a:hover,
header .active a {
    background-color: #ff3f40;
    transition: .3s;
}

/* About */


.about {
    padding: 110px 0;
    background-color: #f6f2f2;
}

.about .row {
    gap: 110px;
    align-items: center;
}

.about .col {
    width: 50%;
}

.about .about__title {
    font-weight: 800;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.about .about__description {
    max-width: 515px;
    margin-bottom: 60px;
}

.about .about_contact {
    background-color: #ff2d2d;
    color: white;
}

.about .about_contact:hover {
    background-color: transparent;
    color: #ff2d2d;
    transition: .3s;
}

.about .about__video-wrapper iframe {
    width: 100%;
    border: none;
    box-shadow: 0 0 65px -20px black;
}


/*content-block*/


.content-block {
    padding-top: 100px;
}

.wrapper .row {
    flex-wrap: wrap;
}

.item {
    width: 45%;
    margin-bottom: 40px;
    margin-right: 30px;
}


.wrap {
    width: 50%;

}


.mainwrap h2 {
    margin: 0 0 30px;
    font-size: 42px;
    font-weight: bold;

}

.mainwrap {
    padding-right: 130px;
}

.content-block .mainwrap p {
    margin-bottom: 50px;
}

.mainwrap a {
    color: #585858;

}

.about_learn:hover {
    background-color: #ff2d2d;
    color: white;
}


/*products*/

.products h2 {

    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;
    color: #585858;

}

.products .title {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.orangline {
    max-width: 130px;
    height: 2px;
    background: #ff3b3b;
    margin: 32px auto 80px;
}

.productmenu ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 900px;
    margin: 100px auto 0;
}

.productmenu a {
    font-size: 22px;
    text-decoration: none;
    color: #4c4c4c;
    font-weight: bold;
}

.productmenu .first-a {
    color: #ff2d2d;
}

.productmenu {
    margin-bottom: 60px;
}

.product-cont img {
    max-width: 300px;
    height: 300px;
    padding-bottom: 18px;
}

.product-cont .row {
    flex-wrap: wrap;
    justify-content: space-between;

}

.meat {
    margin-top: 80px;
}

.meat h2 {
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;
}

.meat .title {
    max-width: 500px;
}

.meat .orangline {
    margin: 30px 0 60px
}

.team .row .contact {
    flex-wrap: wrap;
}

.team {
    margin-bottom: 110px;
}

.team img {
    max-width: 330px;
    height: 460px;
    margin-right: 60px;
}

.name {
    max-width: 850px;
}

.name p {
    width: 650px;
}

.name h3 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.name ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-bottom: 45px;
}

.name ul li {
    padding-right: 30px;
}

.name ul li a {
    text-decoration: none;
    font-style: italic;
    color: #4c4c4c;
    font-size: 18px;

}

.portfolio {
    max-width: 850px;
}

.portfolio img {
    width: 200px;
    height: 215px;
    margin-right: 0;
}

.portfolio .row {
    gap: 20px;

}

.tips {
    text-align: center;
    color: #fdfcf8;
    padding-bottom: 140px;
}

.design {
    background: #f5f0dd;
}

.tips h2 {
    font-size: 42px;
    padding-bottom: 35px;
}


.emailtext {
    width: 450px;
    height: 80px;
    background: white;
    border: none;
    padding-left: 40px;
    border-radius: 10px;
}

.button {
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    width: 210px;
    height: 80px;
    background: #ff2d2d;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    font-size: 18px;

}

.button:hover {
    background-color: transparent;
    color: #ff2d2d;
    transition: .3s;
    border: 2px solid #ff2d2d;
}

.formsub {
    margin-top: 40px;
}

.get .wrap1 p {
    position: relative;
}

.get .wrap1 p:after {
    content: "";
    position: absolute;
    top: 120px;
    width: 130px;
    height: 2px;
    left: 1px;
    background: #ff3b3b;
}

.get h2 {
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 50px;
    color: #333333;
}

.wrap1 {
    width: 730px;
    margin-bottom: 140px;
}

.formname {
    width: 340px;
    height: 70px;
    border-radius: 10px;
    background: #e5e5e5;
    border: none;
    padding-left: 50px;
    font-size: 18px;

}


.formflex {
    display: flex;
    justify-content: space-between;

}

.formtext {
    width: 730px;
    height: 250px;
    border-radius: 10px;
    background: #e5e5e5;
    border: none;
    margin: 44px 0;
    padding-left: 50px;
    padding-top: 30px;
}

.buttonget {
    width: 730px;
    height: 70px;
    border: none;
    border-radius: 10px;
    color: white;
    background: #ff2d2d;
    font-size: 18px;
    font-weight: bold;
}

.buttonget:hover {
    background-color: transparent;
    color: #ff2d2d;
    transition: .3s;
    border: 2px solid #ff2d2d;
}

.contact h4 {
    font-size: 18px;
    margin-bottom: 40px;
}

.contact p {
    margin-bottom: 30px;
}

.contact {
    background: #2d2d2d;
    color: #e5e5e5;
    padding-top: 120px;
    padding-left: 80px;
    margin-left: 100px;
    height: 484px;


}

.wrapflex {
    display: flex;
    flex-wrap: nowrap

}

.wrap h4 {
    font-size: 24px;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 15px;
}


footer {
    background: #313030;

}

.flexfoot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer .container {
    padding-top: 60px;
    padding-bottom: 30px;
}

footer img {
    padding-left: 18px;
}


