* {
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #585858;
    font-size: 16px;
}


a {
    color: #000000;
    display: inline-block;
}


.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.row {
    display: flex;
}

.btn {
    width: 250px;
    border: 2px solid #ff2d2d;
    border-radius: 5px;
    padding: 13px 53px;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
}


/* Header */

header {
    padding: 30px 0 0 0;
    background-color: #f6f2f2;
}

header nav {
    background-color: #313030;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header a {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 25px 30px;
}

header a:hover,
header .active a {
    background-color: #ff3f40;
    transition: .3s;
}

/* About */


.about {
    padding: 110px 0;
    background-color: #f6f2f2;
}

.about .row {
    gap: 110px;
    align-items: center;
}

.about .col {
    width: 50%;
}

.about .about-title {
    font-weight: 800;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.about .about-description {
    max-width: 515px;
    margin-bottom: 60px;
}

.about .about-contact {
    background-color: #ff2d2d;
    color: white;
}

.about .about-contact:hover {
    background-color: transparent;
    color: #ff2d2d;
    transition: .3s;
}

.about .about-video-wrapper iframe {
    width: 100%;
    border: none;
    box-shadow: 0 0 65px -20px black;
}


/*content-block*/


.content-block {
    padding-top: 100px;

}

.gray-line {
    padding-bottom: 60px;
    border-bottom: 2px solid #ececec;
}


.content-block .row {
    flex-wrap: wrap;
}

.item {
    width: 45%;
    margin-bottom: 40px;
    margin-right: 30px;
}


.wrap {
    width: 50%;

}


.main-wrap h2 {
    margin: 0 0 30px;
    font-size: 42px;
    font-weight: bold;

}

.main-wrap {
    padding-right: 130px;
}

.content-block .main-wrap p {
    margin-bottom: 50px;
}

.main-wrap a {
    color: #585858;

}

.about-learn:hover {
    background-color: #ff2d2d;
    color: white;
}


/*products*/

.products {
    padding-top: 60px;


}

.products h2 {
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;
    color: #585858;

}

.products .title {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.title p {
    margin-bottom: 32px;
}

.orang-line {
    max-width: 130px;
    height: 2px;
    background: #ff3b3b;
    margin: 0 auto;
}

.product-menu ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 100px auto 0;
}

.product-menu a {
    font-size: 22px;
    text-decoration: none;
    color: #4c4c4c;
    font-weight: bold;
}

.product-menu .first-a {
    color: #ff2d2d;
}

.product-menu a:hover,
.product-menu .first-a a {
    color: #ff3f40;
    transition: .3s;
}


.product-menu {
    margin-bottom: 60px;
}

.product-cont img {
    max-width: 24%;
    height: 300px;
}

.product-cont .row {
    flex-wrap: wrap;

    gap: 16px;

}

/*meat*/

.meat {
    margin-top: 80px;
}

.meat h2 {
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;
}

.meat .title {
    max-width: 500px;
}

.meat .orang-line {
    margin: 0 0 60px

}

.team .row .contact {
    flex-wrap: wrap;
}

.team {
    margin-bottom: 110px;
}


.avatar {
    width: 33%;
    height: 460px;
    margin-right: 60px;
    background: #f5f0dd;
}


.name {
    max-width: 77%;
    padding-top: 15px;
}

.name p {
    max-width: 650px;
    margin-bottom: 35px;
}

.name h3 {

    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.name ul {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 45px;
}

.name ul li {
    padding-right: 30px;
}

.name ul li a {
    font-style: italic;
    color: #4c4c4c;
    font-size: 18px;

}

.portfolio {
    max-width: 850px;
}


.portfolio .row {
    gap: 15px;

}

.team-block {
    width: 200px;
    height: 215px;
    background: #f5f0dd;
}


.card-name {
    display: none;
    height: 37px;
    margin-top: 178px;
    background: #7a786e;
}

.team-block:hover .card-name {
    display: block;
}

.card-name p {
    color: #f5f0dd;
    font-size: 18px;
    font-weight: 600;
    padding-top: 7px;
    text-align: center;
}

/*design*/

.design {
    background: #f5f0dd;
    padding-top: 130px;
}

.tips {
    text-align: center;
    color: #fdfcf8;
    padding-bottom: 140px;
}

.tips h2 {
    font-size: 42px;
    margin-bottom: 35px;
}

.email-text {
    width: 450px;
    height: 80px;
    background: white;
    border: none;
    padding-left: 40px;
    border-radius: 10px;
}

.button {
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    width: 210px;
    height: 80px;
    background: #ff2d2d;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    font-size: 18px;

}

.button:hover {
    background-color: transparent;
    color: #ff2d2d;
    transition: .3s;
    border: 2px solid #ff2d2d;
}

.tips p {
    margin-bottom: 60px;
}

.wrap1 p {
    margin-bottom: 30px;
}

.wrap1 .orang-line {
    margin: 0 0 60px 0;
}

/*.get*/

.get {
    padding-top: 100px;
}

.get h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #333333;
}

.wrap1 {
    max-width: 60%;

}

.form-name {
    width: 340px;
    height: 70px;
    border-radius: 10px;
    background: #e5e5e5;
    border: none;
    padding-left: 50px;
    font-size: 18px;
    resize: none;
}


.form-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
    gap: 20px;

}

.form-text {
    width: 730px;
    height: 250px;
    border-radius: 10px;
    background: #e5e5e5;
    border: none;
    margin-bottom: 44px;
    padding-left: 50px;
    padding-top: 30px;
    resize: none;
}

.button-get {
    width: 730px;
    height: 70px;
    border: none;
    border-radius: 10px;
    color: white;
    background: #ff2d2d;
    font-size: 18px;
    font-weight: bold;
}

.button-get:hover {
    background-color: transparent;
    color: #ff2d2d;
    transition: .3s;
    border: 2px solid #ff2d2d;
}

.contact h4 {
    font-size: 18px;
    margin-bottom: 40px;
    position: relative;
}

.contact h4:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 45px;
    height: 484px;
    background: #2d2d2d;
    right: -45px;
    top: -120px;
}

.contact p {
    margin-bottom: 30px;
}

.contact {
    background: #2d2d2d;
    color: #e5e5e5;
    padding: 120px 10px 0 80px;
    margin-left: 100px;
    height: 484px;

}

.wrap-flex {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 130px;
}

.wrap h4 {
    font-size: 24px;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 15px;
}

/*footer*/

footer {
    background: #313030;

}

.flex-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer .container {
    padding-top: 60px;
    padding-bottom: 30px;
}

footer img {
    padding-left: 18px;
}

@media (max-width: 1280px) {

    .container {
        max-width: 1024px;
    }

    .about .about-title {
        font-weight: 800;
        font-size: 45px;
    }

    .main-wrap h2 {
        font-size: 30px;
    }

    .item {
        width: 43%;
    }

    .product-cont img {
        max-width: 230px;
        height: 230px;
    }

    .avatar {
        height: 415px;
        margin-right: 40px;
    }

    .team-block {
        width: 160px;
        height: 170px;
        background: #f5f0dd;
    }


    .card-name {
        display: none;
        height: 37px;
        margin-top: 132px;
    }

    .contact h4:before {
        display: none;

    }

    .contact {
        padding: 120px 20px 0 60px;
        margin-left: 80px;
        height: 484px;

    }

    .form-name {
        width: 100%;
    }

    .form-text {
        width: 100%;
    }

    .button-get {
        width: 100%;
    }


    .col {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 767px;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .col {
        width: 100%;
    }

    .about-info {
        margin-bottom: 50px;
    }

    .btn {
        width: 300px;
    }

    .avatar {
        width: 320px;
    }

    .wrap {
        width: 100%;
    }

    .main-wrap {
        padding-right: 0;
        margin-bottom: 50px;
    }

    .name {
        max-width: 100%;
        padding-top: 30px;
    }

    h1 {
        font-size: 40px;
    }

    .about-description {
        max-width: 100%;
    }

    .product-menu a {
        font-size: 18px;
    }

    .team-row {
        flex-wrap: wrap;
    }


}

@media (max-width: 767px) {
    .product-menu a {
        font-size: 15px;
    }

    .form-name {
        width: 260px;
    }

    .name {
        max-width: 100%;
    }

    .portfolio .row {
        flex-wrap: wrap;
    }

    .tips h2 {
        font-size: 32px;
        margin-bottom: 19px;
    }

    .product-cont img {
        max-width: 200px;
        height: 200px;
    }

    .design {
        padding-top: 70px;
    }

    .email-text {
        width: 300px;
    }

    .wrap-flex {
        flex-wrap: wrap;
        display: inline;
    }

    .wrap {
        width: 100%;
    }

    .wrap1 {
        max-width: 100%;
    }

    .contact {
        margin-top: 60px;
        margin-left: 0;
        margin-bottom: 10px;
        padding: 60px 20px 0 20px;
        height: 300px;
        max-width: 100%;

    }

    footer .container {
        padding: 30px 10px;

    }
}

@media (max-width: 576px) {
    header {
        display: none;
    }

    .form-name {
        width: 100%;
    }

    .wrap h4 {
        font-size: 20px;
    }

    .about {
        padding: 50px 0;
    }

    .product-menu ul {
        gap: 10px;
    }

    .about .about-title {
        font-size: 35px;
        line-height: 1.5;
        letter-spacing: 3px;
    }

    .btn {
        width: 100%;
    }

    .item {
        width: 100%;
    }

    .meat h2 {
        font-size: 35px;
    }

    .get h2 {
        font-size: 35px;
    }

    .get {
        padding-top: 60px;
    }

    .email-text {
        width: 100%;
        margin-bottom: 20px;

    }

    .button {
        width: 100%;
        margin-left: 0;
    }

    .tips {
        padding-bottom: 100px;
    }

    .form-flex {
        display: block;
        margin-bottom: 0;
    }

    .form-name {
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .form-text {
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .foot-icont {
        margin-top: 20px;
    }

    .flex-foot {
        justify-content: center;
    }

    .product-cont img {
        width: calc(50% - 16px);
    }
}

@media (max-width: 425px) {

    .about .about-title {
        font-size: 30px;
    }

    .product-cont img {
        height: 180px;
    }

    .products h2 {
        font-size: 30px;
    }

    .card-name p {
        font-size: 14px;
    }
}

@media (max-width: 370px) {
    .product-cont img {
        width: inherit;
    }
}






