* {
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
}

header {
    background: #f6f2f2;
}

header ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: space-evenly
}

nav {
    width: 480px;
    margin: auto;
}


header a {
    font-size: 14px;
    color: #e0e0e0;
}

header .container {
    background: #f6f2f2;
    padding-top: 30px;


}


.banner h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    padding-top: 30px;
    padding-bottom: 40px;
}

.banner p {
    line-height: 1.5;
}

button {
    margin-top: 60px;
    background-color: #ff2d2d;
    color: #ffffff;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    width: 227px;
    height: 55px;
    border: none;
}

.banner .item {
    width: 50%;
}

.banner .container {
    display: flex;
}

.banner {
    background: #f6f2f2;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 100px;
}

header .container {
    height: 90px;
    background: #313030;
    margin: 0 auto;

}


.wrapper {
    display: flex;
    flex-wrap: wrap;

}

.item {
    width: 45%;
    margin-bottom: 40px;
}

.content-block .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    margin: 0 auto;

}

.wrap {
    width: 50%;

}


.mainwrap h2 {
    margin: 0 0 30px;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;
}

.mainwrap {
    padding-right: 130px;
}

.mainwrap button {
    margin-top: 50px;
    background-color: white;
    color: #9b0808;
    border: 3px solid #b70a0a;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    width: 227px;
    height: 55px;
}

.products h2 {

    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;

}

.products .title {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.products p {
    position: relative
}

.products p:after {
    content: "";
    position: absolute;
    top: 80px;
    width: 130px;
    height: 2px;
    left: calc(50% - 65px);
    background: #ff3b3b;
}

.productmenu ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 900px;
    margin: 100px auto 0;
}

.productmenu a {
    font-size: 22px;
    text-decoration: none;
    color: #4c4c4c;
    font-weight: bold;
}

.productmenu .first-a {
    color: #ff2d2d;
}

.productmenu {
    margin-bottom: 60px;
}

.product-cont img {
    width: 300px;
    height: 300px;
    padding-bottom: 18px;
}

.product-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.meat h2 {

    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 2px;
}

.meat .title {
    max-width: 500px;
}

.meat .title p {
    position: relative
}

.meat .title p:after {
    content: "";
    position: absolute;
    top: 80px;
    width: 130px;
    height: 2px;
    left: 1px;
    background: #ff3b3b;
}

.team {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.team img {
    width: 330px;
    height: 460px;
    margin-right: 60px;
}

.name {
    width: 850px;
}

.name p {
    width: 650px;
}

.name h3 {
    margin-top: 17px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.name ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-bottom: 45px;
}

.name ul li {
    padding-right: 30px;
}

.name ul li a {
    text-decoration: none;
    font-style: italic;
    color: #4c4c4c;

}

.portfolio img {
    width: 200px;
    height: 215px;
    margin-right: 0;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}



